h3{
	margin:100px auto 0;
	font-weight: bold;
	line-height: 1.25em;
	max-width:80%;
	text-align: left;
	font-size:48px;
}


a{
  color:blue;
  text-decoration: none;
  border-bottom:3px dotted;
}

@media screen and (max-width: 768px){
	h3{
		max-width:100%;
	}
}