#main{
  text-align: left;
  max-width: 650px;
  line-height: 1.75em;
  font-size:18px;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  color:salmon;
}

h1{
  font-family: Monaco, monospace;
  font-size: 30px;
  font-weight: normal;
  line-height: 1em;
  color: salmon;
  margin: 100px auto 0;
  text-align: center;
}

h2{
  font-size: 48px;
  font-weight: normal;
  line-height: 1em;
  color:salmon;
  margin:100px auto 0;
}

h3{
  margin:60px auto 0;
  font-size:24px;
  font-weight: bold;
  line-height: 1.15em;
}

h4{
  margin:20px auto 0;
  font-size:16px;
  font-weight: bold;
  color:salmon;
  line-height: 1.5em;
  max-width: 650px;
}


h6{
  font-family: Monaco, monospace;
  font-size: 16px;
  font-weight:normal;
  line-height: 18px;
  margin: 20px auto 0;
}

a#logo{
  text-decoration: none;
  border:none;
}

a{
  color:blue;
  text-decoration: none;
  border-bottom:2px dotted;
}

.menu{
  margin-bottom:20px;
}

p{
  display: block;
  margin:20px 0 0;

}

img,
pre{
  margin:80px 0 0;
}

.gist pre{
  margin: 0;
}



ul li{
  text-align: left;
}


pre{
  background-color:white;
  -moz-box-shadow:    0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow:         0 0 7px #ccc;

  font-family: "Courier New", courier, monospace;
  font-size: 22px;
  padding: 4%;
  width: 92%;
  text-align: left;
}

.gist{
  margin-top:80px;
}

.gist pre{
  background-color:inherit;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

pre code{
  margin: 0 0 0 10%;
  display: block;
}

code{
  color: salmon;
  padding: 2px 7px;
  border: 1px solid salmon;
  margin: 0 2px;
  font-family: "Courier New", courier, monospace;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  
}

@media screen and (max-width: 768px){
  img{
    max-width:90%;
  }
}

@media screen and (min-width: 769px){
  h1,h2,h3,h4{
    width:90%;
  }

  ul li embed,
  ul li object{
    width:650px;
  }
}
