h2{
  font-family: Monaco, monospace;
  font-size: 30px;
  font-weight: normal;
  line-height: 1em;
  color:salmon;
  margin:160px auto 0;
  max-width:650px;
}

#main{
	width:890px;
}

#main img{
	width:80px;
	height:auto;
	float:left;
	margin-left:250px;
	margin-right:20px;
}

ul{
	width:250px;
	min-height: 100px;
	float:left;
	margin-right:150px;
	display: block;
	list-style: none;
	margin-bottom:80px;
	text-align: left;
}

ul li{
	margin:0;
}