body{
  padding:0;
  margin:0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
}

#main{
  padding:10px 40px 150px;
  margin:0 auto;
}

#header{
  margin:0 auto;
  padding:20px 40px 0;
  color:white;

  background: #dadada; /* fallback for older/unsupporting browsers */
  background: -moz-linear-gradient(top, #dadada 77%, white 100%);
  background: -webkit-gradient(linear, 0 77%, 0 100%, from(#dadada), to(white));
}

#footer{
  clear:both;
  display: block;
  bottom:20px;
}

h1{
  margin:10px auto;
  font-size:120px;
  font-weight:bold;
  line-height: 1em;
}

h2{
  margin:30px auto;
  font-size:80px;
  font-weight:bold;
  line-height: 1.15em;
}

h3{
  margin:10px auto;
  font-size:48px;
  font-weight: bold;
  line-height: 1.15em;
}

h4{
  margin:30px auto;
  font-size:24px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
}

h6{
  font-family: Monaco, monospace;
  font-size: 11px;
  font-weight:normal;
  line-height: 14px;
}

a#logo{
  text-decoration: none;
  border:none;
}

a{
  color:blue;
  text-decoration: none;
  border-bottom:1px solid;
}

.menu{
  margin-bottom:20px;
}

select{
  background-color:salmon;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
}

ul{
  list-style: none;
  text-align: center;
}

ul li{
  display: inline-block;
  padding:40px;
  text-align: left;
}

ul li em{
  font-style: normal;
  display: block;
  font-weight: bold;
  line-height: 1.25em;
}

ul li strong img{
  border:3px solid salmon;
}

ul li em img,
ul li em blockquote{
  height:120px;
  overflow:hidden;
}

@media screen and (max-width: 768px){
  ul li{
    width:100%;
  }
}

@media screen and (min-width: 1024px){
  h1,h2,h3,h4{
    width:80%;
  }

  ul li img,
  ul li blockquote{
    max-width:650px;
    max-height:650px;
  }
  ul li div{
    min-width:650px;
  }
  ul li embed,
  ul li object{
    width:650px;
    max-height:650px;
  }
  ul li em{
    max-width:250px;
  }
}


ol{
  width:50%;
  float:left;
  list-style: none;
  padding:0 0 30px;
}
