body{
  padding:0;
  margin:0;
  text-align: center;
  font-family:"Apercu Bold", "Apercu", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
  font-size: 16px;
  color: #333;
  background-color: white;
}

#main{
  padding:10px 100px 150px;
  margin:0 auto;
}

#header{
  margin:0 auto;
  padding:20px 40px 0;
  color:white;

  background: #aaa; /* fallback for older/unsupporting browsers */
  background: -moz-linear-gradient(top, #aaa 77%, white 100%);
  background: -webkit-gradient(linear, 0 77%, 0 100%, from(#aaa), to(white));
}

#footer{
  clear:both;
  display: block;
  margin-bottom:20px;
}

#title{
  margin:10px auto;
  font-size:120px;
  font-weight:bold;
  line-height: 1em;
}


a#logo{
  text-decoration: none;
  border:none;
}

#logo img{
  margin-top:0;
}

a{
  color:blue;
  text-decoration: none;
  border-bottom:3px dotted;
}

.menu{
  margin-bottom:20px;
}

select{
  background-color:salmon;
  font-size: 14px;
  font-family:"Apercu Bold", "Apercu", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
  color: black;
}