<div class="menu">
    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
        <option disabled>Week 1</option>
        <option {% if lecture == '1_attitude' %}selected="selected" {% endif %}value="/lectures/week1/attitude.html">Attitude</option>
        <option {% if lecture == '1_github' %}selected="selected" {% endif %}value="/lectures/week1/github.html">Github</option>
        <option {% if lecture == '1_markdown' %}selected="selected" {% endif %}value="/lectures/week1/markdown.html">Markdown</option>
    </select>
</div>