<div class="menu">
    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
        <option {% if asignment == '1' %}selected="selected" {% endif %}value="/assignments/assignment1.html">Assignment 1</option>
        <option {% if asignment == '2' %}selected="selected" {% endif %}value="/assignments/assignment2.html">Assignment 2</option>
        <option {% if asignment == '3' %}selected="selected" {% endif %}value="/assignments/assignment3.html">Assignment 3</option>
        <option {% if asignment == '4' %}selected="selected" {% endif %}value="/assignments/assignment4.html">Assignment 4</option>
    </select>
</div>