<div class="menu">
    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
        <option disabled>Week 1</option>
        <option {% if lecture == '1_attitude' %}selected="selected" {% endif %}value="/lectures/week1/attitude.html">Attitude</option>
        <option {% if lecture == '1_github' %}selected="selected" {% endif %}value="/lectures/week1/github.html">Github</option>
        <option {% if lecture == '1_markdown' %}selected="selected" {% endif %}value="/lectures/week1/markdown.html">Markdown</option>
        <option disabled>Week 2</option>
        <option {% if lecture == '2_client_server' %}selected="selected" {% endif %}value="/lectures/week2/client-server.html">Client-Server Model</option>
        <option disabled>Week 3</option>
        <option {% if lecture == '3_physical_digital' %}selected="selected" {% endif %}value="/lectures/week3/physicaldigital.html">From Physical to Digital</option>
    </select>
</div>