<div class="menu">
	<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
	    <option {% if menu == 'about' %}selected="selected" {% endif %}value="/">About</option>
	    <option {% if menu == 'intro' %}selected="selected" {% endif %}value="/intro.html">Introduction</option>
	    <option {% if menu == 'people' %}selected="selected" {% endif %}value="/people.html">People</option>
	    <option {% if menu == 'lecture' %}selected="selected" {% endif %}value="/lectures/week1/attitude.html">Lectures</option>
	    <option {% if menu == 'assignment' %}selected="selected" {% endif %}value="/lectures/week1/attitude.html">Assignments</option>
	    <option value="https://courseworks.columbia.edu/public/20133ARCH4819A001">Section A syllabus →</option>
	    <option value="https://courseworks.columbia.edu/public/20133ARCH4822A001">Section B syllabus →</option>
	    <option value="https://github.com/site2site/site2site.github.io/wiki">Wiki →</option>
	    <option value="https://github.com/site2site/site2site.github.io/issues">Issues Forum →</option>
	    <option value="https://github.com/site2site/site2site.github.io/wiki/Class-Directory">People →</option>
	    <option value="https://github.com/site2site/site2site.github.io/wiki/Services">Services we use →</option>
	    <option value="https://github.com/site2site/site2site.github.io/wiki/Software">Software we use →</option>
	</select>
</div>