<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
    <option selected="selected" value="/">About</option>
    <option value="/lectures/week1/client-server-model.html">Lectures</option>
    <option value="https://courseworks.columbia.edu/public/20133ARCH4819A001">Section A syllabus →</option>
    <option value="https://courseworks.columbia.edu/public/20133ARCH4822A001">Section B syllabus →</option>
    <option value="https://github.com/site2site/site2site.github.io/wiki">Wiki →</option>
    <option value="https://github.com/site2site/site2site.github.io/issues">Issues Forum →</option>
    <option value="https://github.com/site2site/site2site.github.io/wiki/Class-Directory">People →</option>
    <option value="https://github.com/site2site/site2site.github.io/wiki/Services">Services we use →</option>
    <option value="https://github.com/site2site/site2site.github.io/wiki/Software">Software we use →</option>
</select>