<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="gsapp, architecture, raspberry pi, arduino, internet of things, new york" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ page.style }}.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pygments.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% include fonts.html %}
    </head>
    <body>
        <header id="header">
            <a id="logo" href="http://www.arch.columbia.edu" target="_blank"><img src="http://www.columbia.edu/cu/arch/assets/GSAPP_white_small.png"></a>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div id="title"><a href="/">Site to Site</a></div>

            <h6>A4819 &amp; A4822</h6>
            <h6>Fall 2013</h6>
            <br><br><br><br><br><br><br><br><br><br><br>

            {% assign menu = page.menu %}
            {% include menu.html %}
            

            {% if page.menu == 'lecture' %}
                {% assign lecture = page.lecture %}
                {% include menulecture.html %}
            {% endif %}

            {% if page.menu == 'assignment' %}
                {% assign assignment = page.assignment %}
                {% include menuassignment.html %}
            {% endif %}

            {% if page.menu == 'research' %}
                {% assign secondmenu = page.secondmenu %}
                {% include menuresearch.html %}
            {% endif %}

            {% if page.menu == 'project' %}
                {% assign secondmenu = page.secondmenu %}
                {% include menuproject.html %}
            {% endif %}

        </header>
        <div id="main">

            {{ content }}

            {% if page.menu == 'lecture' %}
                {% assign lecture = page.lecture %}
                {% include menulecture.html %}
            {% endif %}
          
        </div>
        <footer id="footer">
            <h6>Copyright 2013 Troy Conrad Therrien &amp; Christopher Barley</h6>
        </footer>
    </body>
</html>