<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="gsapp, architecture, raspberry pi, arduino, internet of things, new york" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/pygments.css" />
    </head>
    <body>
        <header id="header">

            <a id="logo" href="http://www.arch.columbia.edu" target="_blank"><img src="http://www.columbia.edu/cu/arch/assets/GSAPP_white_small.png"></a>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <h1>Site to Site</h1>

            <h2>A4819 &amp; A4822</h2>
            <h2>Fall 2013</h2>
            <br><br><br><br><br><br><br><br><br><br><br>
            
            {% include menu.html %}

        </header>
        <div id="main">

            {{ content }}
          
        </div>
        <footer id="footer">
            <h2>Copyright 2013 Therrien-Barley</h2>
        </footer>
    </body>
</html>